.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.content {
  display: flex;
  flex-direction: column;
  width: 40%;
  min-width: 350px;
  height: auto;
  border: 1px solid black;
  border-radius: 15px;
  padding: 20px;
  box-sizing: border-box;
  position: relative;
}
.content > svg {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}
.title {
  text-align: center;
}
.form-username {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-username p {
  width: 100%;
  margin: 10px 0;
}
.form-username input {
  width: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  height: 35px;
  border: 1px solid black;
  border-radius: 5px;
}
.form-username input:focus-visible {
  outline: none;
}
.btn {
  margin-top: 10px;
  width: 100%;
  height: 30px;
  background-color: #ffc62e;
  border: none;
  border-radius: 5px;
  color: #53535a;
  font-size: 17px;
  font-weight: 600;
}
