.btn-opt {
  height: 2.5em;
  font-size: 13px;
  background-color: transparent;
  color: white;
  border: 2px solid rgb(238, 239, 82);
}
.input-password {
  width: 100%;
  height: 2em;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid orange;
  padding-bottom: 0.5em;
}
.input-password input {
  height: 100%;
  width: calc(100% - 2em);
  box-sizing: border-box;
  padding-left: 1em;
  background-color: transparent;
  color: white;
  border: none;
}
.input-password input:focus-visible {
  outline: none;
}
.input-password input::placeholder {
  color: white;
}
.input-password svg {
  width: 1.5em;
  height: 1.5em;
  color: white;
}
.btn-submit {
  width: 7em;
  height: 2em;
  font-size: 16px;
  font-weight: 500;
}
.paragraph-email {
  color: white;
  font-style: italic;
}
.error {
  margin: 0 0 10px;
  color: #f13a3ab5;
  font-size: 14px;
}
.success {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.success p {
  font-size: 13px;
  color: #839dc7;
}
.success span {
  padding: 5px 10px;
  background-color: aliceblue;
  cursor: pointer;
  font-weight: 600;
  border-radius: 5px;
}
